<!DOCTYPE html>
<html th:replace="commons/base::Layout(~{::section})" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>

  <section>
    <div class="row d-flex justify-content-center p-4 b-4 mt-1">
      <div class="col-md-6 .col-sm-10">
        <div class="card text-center">
          <div class="card-header">
            Article by : <a class="text-danger" th:text="${post.getAuthor()}" th:href="@{'/posts/read?authorName=' + ${post.getAuthor()}}"></a>
          </div>
          <div class="card-body">
            <h5 class="card-title" th:text="${post.getTitle()}"></h5>
<!--            <p class="card-text text-primary" th:text="${post.getTagsToString()}"></p>-->
            <span th:each="tag : ${post.getTags()}"><a class="car-text text-primary text-decoration-none" th:href="@{'/posts/read?tagName=' + ${tag.getName()}}" th:text="@{'#' + ${tag.getName()}}"> </a> </span>
            <div class="input-group mb-3 mt-3">
              <textarea class="form-control" aria-label="With textarea" rows="8" name="content" disabled
                th:text="${post.getContent()}"></textarea>
            </div>

            <div class="text-center">
              <div class="btn-group">
                <form th:action="@{'/posts/update/' + ${post.getId()}}" method="get">
                  <button class="btn btn-primary btn-default pe-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                    Edit
                  </button>
                </form>
                <div class="me-3"></div>
                <form th:action="@{'/posts/delete/' + ${post.getId()}}" method="post">
                  <input type="hidden" name="postId" th:value="${post.getId()}">
                  <button class="btn btn-danger btn-default">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path
                              d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg>
                    Delete
                  </button>
                </form>

              </div>
            </div>
          </div>
          <div class="card-footer text-muted" th:text="${post.getPublishedDate()}">
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center p-4 b-4 mt-1">
      <div class="col-md-6 .col-sm-10">
        <div class="card">
          <div class="card-header">
            Add Your <span class="text-danger">COMMENT</span>
          </div>
          <div class="card-body">
            <form th:action="@{'/comment/create/' + ${post.getId()}}" method="post">
              <div class="input-group mb-3">
              <textarea class="form-control" aria-label="With textarea" rows="2" required
                        placeholder="your beautiful comment here!" name="comment"></textarea>
              </div>

              <div class="input-group mb-3">
                <span class="input-group-text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-person-hearts" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z" />
                  </svg>
                </span>
                  <input sec:authorize="isAuthenticated()" type="text" class="form-control" placeholder="Name" aria-label="Author Name" name="name" th:value="${authenticatedUser.getUsername()}" readonly="readonly" id="loggedUserName">
                  <input sec:authorize="isAnonymous()" type="text" class="form-control" placeholder="Name" aria-label="Author Name" name="name" required id="nonLoggedUserName">
                <span class="input-group-text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-envelope-check-fill" viewBox="0 0 16 16">
                    <path
                            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z" />
                    <path
                            d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z" />
                  </svg>
                </span>
                  <input sec:authorize="isAuthenticated()" type="text" class="form-control" placeholder="Email" aria-label="Email" name="email" th:value="${authenticatedUser.getEmail()}" readonly="readonly" id="loggedEmail">
                  <input sec:authorize="isAnonymous()" type="text" class="form-control" placeholder="Email" aria-label="Email" name="email" required id="nonLoggedEmail">
              </div>
            <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center p-4 b-4 mt-1" th:each="comment : ${post.getComments()}">
<!--    <div class="row d-flex justify-content-center p-4 b-4 mt-1">-->
      <div class="col-md-6 .col-sm-10">
        <div class="card">
          <div class="card-header">
<!--            <span class="text-danger" th:text="${ ${comment.getName()} + ${comment.getUpdatedAt()}}"></span> 17-08-2022-->
            <span class="text-danger" th:text="${comment.getName()}"> </span> <span th:text="${comment.getCreatedAt()}"></span>

          </div>
          <div class="card-body">
            <div class="input-group mb-3">
              <p class="form-control border-0" th:text="${comment.getComment()}"></p>
            </div>

            <div class="input-group mb-3 text-center">
              <div class="btn-group">
                <form th:action="@{'/comment/update/' + ${comment.getId()}}" method="get">
                  <button class="btn btn-primary btn-default pe-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                    Edit
                  </button>
                </form>
                <div class="me-3"></div>
                <form th:action="@{'/comment/delete/' + ${comment.getId()}}" method="post">
                  <input type="hidden" name="postId" th:value="${post.getId()}">
                  <button class="btn btn-danger btn-default">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-trash3-fill" viewBox="0 0 16 16">
                      <path
                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg>
                    Delete
                  </button>
                </form>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </section>


</body>

</html>